<h1>Job Dashboard</h1>

<h2>By Location</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Location</th>
      <th>Jobs at location</th>
    </tr>
  </thead>
  <tbody>
    <% @job_count_by_location.each do |city, count| %>
      <tr>
        <td>
          <%= link_to city, jobs_path(location: city) %>
        </td>
        <td>
          <%= count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
