<nav role="navigation">
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to 'Companies', companies_path %></li>
    <li role="presentation"><%= link_to 'placeholder' %></li>
  </ul>
</nav>
