<table class="table table-striped">
  <thead>
    <tr>
      <th>Company</th>
      <th>Controls</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr class=company_<%= company.id %>>
        <td>
          <%= link_to company.name, company_path(company), class: "table_name" %>
        </td>
        <td>
          <%= link_to "Edit", edit_company_path(company) %>
          <%= link_to "Delete", company_path(company), method: "delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
