@import "bootstrap-sprockets";
@import "bootstrap";


  // Universal Styles
* {
  font-family: 'Josefin Sans', sans-serif;
  font-size: x-large;
  letter-spacing: 0.02em;
}

h1 a {
  float: right;
  padding-right: 20px;
}


  // Table Styles
.table_name {
  display: block;
}
