@import "bootstrap-sprockets";
@import "bootstrap";


  // Universal Styles
* {
  font-family: 'Josefin Sans', sans-serif;
  font-size: x-large;
  letter-spacing: 0.02em;
}

  // Table Styles
.table_name {
  display: block;
}
